.test {
    background-color: none;
}

.fullCont {
    max-width: None !important;
    width:  100vw !important;
    padding-left: 0;
}
.elekh1 {
    color:#1c79be;
    text-transform: uppercase;
    font-size: 2.2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 40px 50px 0px;
}
.strongtext {
    color:#1c79be;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.elekp {
    padding: 10px 50px;
    font-family: "Montserrat", sans-serif;
    
}
.eleklistpos {
    list-style-position: inside !important;
}
.eleklist {
    margin: 10px 50px;
    list-style: none;
    font-family: "Montserrat", sans-serif;   
}
.elekbullet::before {
    content: "\2022";
    color: #1c79be;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.pravidlalist {
    margin: 30px 50px;
    list-style: none;
    counter-reset: list-number;
    font-family: "Montserrat", sans-serif;
}

.pravidlano{
    counter-increment: list-number;
    position: relative;
    padding-bottom: 10px;

}

.pravidlano::before {
    content: counter(list-number)". ";
    font-size: 1em;
    color: black;
    font-weight: 900;
    position: relative;
    display: inline-flex;
    margin-left: -1.5em;
    width: 1.5em;
  }
  

.elekh2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size:medium;
    padding: 10px 50px;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.obrazekgraf {
    margin: 10px 50px;
    float: left;
  }
.eleknobullet {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
.kontaktlist {
    padding: 30px 50px;
}
.vyhrajp {
    font-family: "Montserrat", sans-serif;
    padding: 10px 50px 10px 50px;
    text-align: center;
    font-weight: 600;
    
}
.strongtextvyhraj {
    color:#1c79be;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 0.1em;
}
.vyhrajredtext {
    color: #c10104;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 0px 50px;
    line-height: 90%;
    margin-bottom: 0.2em;
}
    
.vyhrajbbg {
    background-color: #d4f9ff;
}


.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;

    
  }
  .pravidlasout {
      font-family: "montserrat", sans-serif;
      font-size: 2.2em;
      color: black;
      font-weight: 900;
      text-align: center;
      padding: 40px 50px 0px;
  }
  .pravidlano strong {
      font-size: 1em;
      color: #1c79be;
  }
  .vyhaut{
      padding-top: 50px;
  }

  .butto{
    padding: 1.5rem 3rem;
    margin-right: 1rem;
  }

  .pulkruhim{
    width: 423px;
    position: absolute;
    bottom: 0;
    right: 8%;
  }
  @media (max-width: 600px) {
    .pulkruhim {
        width: 302px;
        right: 20%;
    }
  }
  .whitebg {
    background-color: white;
  }