.halfIm {
background-size: cover;
background-color: transparent;
background-repeat: no-repeat;
color: #fff;
background-position: center bottom;
height: 100%;
min-height: 80vh;
}

@media (max-width: 767px) {
    .halfIm { min-height: 20vh;}
}