.HomeIm {
    background-position-y: 65% !important;
    background-color: transparent;
    background-repeat: no-repeat;
    color: #fff;
    background-position: left bottom;
    min-height: 80vh;
}
@media (max-width: 600px) {
    .HomeIm {
        min-height: 30vh;
    }
}